# Dependencies
node_modules/
*/node_modules/

# GTFS data files (large, downloaded separately)
gtfs/

# OSRM-data files (large, generated separately)
osrm-data/

#Build outputs
dist/
build/
*.tsbuildinfo

#Expo
.expo/
.expo-shared/

#Environment variables
.env
.env.*